@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pipe-bg: #22232d;
  --pipe-table-bg: #333649;
  --pipe-table-border-bg: #5a6288;
}

body {
  background: var(--pipe-bg);
  color: #fff;
}
